# Task API backend Environment Configuration
# Copy this file to .env and fill the values

#Database Configuration (Neon Serverless PostgreSQL) 
DATABASE_URL = 'postgresql://neondb_owner:npg_c8zdf4iFkuHh@ep-rapid-haze-ah5u67bg-pooler.c-3.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require'

#API Configuration
API_HOST = 0.0.0.0
API_POST = 8000

#Debug Mode (True/False)
DEBUG = false

#Logging Level (debug, info, warning, error, ciritical)
LOG_LEVEL = info